workDir = '/fh/scratch/delete90/meshinchi_s/jlsmith3/nextflow_scratch'
process.executor = 'slurm'
process.queue = 'campus-new'

singularity {
    enabled = true
    autoMounts = true
    cacheDir = '/fh/scratch/delete90/meshinchi_s/jlsmith3/nextflow_scratch'
    runOptions = '--containall --no-home'
}

process {
    errorStrategy = 'retry'
    maxRetries = 3
}